[submodule "springboot_cqrs_command"]
	path = springboot_cqrs_command
	url = https://github.com/Thee5176/SpringBoot_CQRS_Command.git
	branch = main
[submodule "springboot_cqrs_query"]
	path = springboot_cqrs_query
	url = https://github.com/Thee5176/SpringBoot_CQRS_Query.git
	branch = main
[submodule "react_mui_cqrs"]
	path = react_mui_cqrs
	url = https://github.com/Thee5176/React_MUI_Accounting_CQRS.git
	branch = main